* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.menu1 {

background-color#D6E9FE; /* Light blue */

height: auto;

width: 900px;

}

.menu2 {
background-color:; /* yellow*/
height: auto;
width: 900px;
}



.footer {
clear: both; /* Add this */
height: 10%;
align-items: bottom;
background-color: #D6E9FE; /* Light blue */
}

table{
 border-collapse: collapse;
 border: 1px solid black;
 width: 100%;
 }
 
 thead{
border-collapse: collapse;
border: 1px solid black;
 	
} 

th{
 border-collapse: collapse;
 border: 1px solid black;
	
	color: blue;
 background-color: pink;
} 

tr{
border-collapse: collapse;
border: 1px solid black;
} 

td{
 border-collapse: collapse;
 border: 1px solid black;
} 
	

/* Mobile Styles */
@media only screen and (max-width: 400px) {
body {
background-color: ; /* Red */
}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
 background-color: ; /* Yellow */
}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
body {
background-color: #B2D6FF; /* Blue */
}
}
