* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.menu {
height: 90%;
background-color: #D6E9FE; /* Light blue */
}

img {
height: 300px;
width: 100%;
float: 0" 
} 

footer {
clear: both; /* Add this */
height: 10%;
align-items: bottom;
background-color: #D6E9FE; /* Light blue */
}

table{
 border-collapse: collapse;
 border: 1px solid black;
 width: 100%;
 }
 
 thead{
border-collapse: collapse;
border: 1px solid black;
 	
} 

th{
 border-collapse: collapse;
 border: 1px solid black;
} 

tr{
border-collapse: collapse;
border: 1px solid black;
} 

td{
 border-collapse: collapse;
 border: 1px solid black;
} 
	
