* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.menu {
height: 90%;
background-color: #D6E9FE; /* Light blue */
	
	
	height: auto;
width: auto;
justify-content: inherit;
align-items: inherit;

}

img {
height: 300px;
width: 100%;
float: 0" 
} 

footer {
clear: both; /* Add this */
height: 10%;
align-items: bottom;
background-color: #D6E9FE; /* Light blue */
}

table{
 border-collapse: collapse;
 border: 1px solid black;
 width: 100%;
 }
 
 thead{
border-collapse: collapse;
border: 1px solid black;
 	
} 

th{
 border-collapse: collapse;
 border: 1px solid black;
	
	color: blue;
 background-color: pink;
} 

tr{
border-collapse: collapse;
border: 1px solid black;
} 

td{
 border-collapse: collapse;
 border: 1px solid black;
} 
	

/* Mobile Styles */
@media only screen and (max-width: 400px) {
body {
background-color: #F09A9D; /* Red */
}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
 background-color: #F5CF8E; /* Yellow */
}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
body {
background-color: #B2D6FF; /* Blue */
}
}
